html {
  
  font-family: $base-font;
  font-weight: normal;
  font-size: $base-font-size;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: scroll;
  
  body {
    line-height: 150%;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
  }
  
}

/* Links */

a, a:link, a:visited {
  text-decoration: none;
  cursor: pointer;
}

a:hover, a:active {
  text-decoration: underline;
}

/* Headings */

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: .5rem 0;
  font-weight: normal;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.7rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}