nav.header-menu {
  position: fixed;
  right: 1rem;
  top: 1.8rem;
  
  ul {
    li {
      display: inline-block;
      a {
        font-size: 1.2rem;
        display: inline-block;
        padding: 0 1.5rem;
      }
    }
  }
  
}

@media screen and (max-width: $break-mobile) {
  nav.header-menu {
    width: 20em;
    height: 100%;
    left: -20rem;
    background: #666;
    top: 5.5rem;
    padding-top: 1rem;
    transition: .5s ease left;
    
    &.menu-open {
      left: 0;
    }
    
    ul {
      li {
        display: block;
        a {
          display: block;
          font-size: 1.5rem;
          padding: .5rem .8rem;
        }
      }
    }
    
  }
}